<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<table>
    <tr>
        <th>글 번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일자</th>
        <th>조회 수</th>
        <th>상세조회</th>
        <th>삭제</th>
    </tr>
    <tr th:each="board: ${boardList}">
        <td th:text="${board.id}"></td>
        <td><a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}"></a></td>
        <td th:text="${board.boardWriter}"></td>
        <td th:text="${board.createdAt}"></td>
        <td th:text="${board.boardHits}"></td>
        <td><button th:onclick="board_detail([[${board.id}]])">상세조회</button></td>
        <td><button th:onclick="board_delete([[${board.id}]])">삭제</button></td>
    </tr>
</table>
<div id="detailArea">
</div>
<div th:replace="component/footer :: footer"></div>
</body>
<script>
    const board_detail=(id)=>{
        //location.href="/member/+id;
        const detailArea=document.getElementById("detailArea");
        axios({
            method:"get",
            url:"/board/axios/"+id
        }).then(res=>{
            console.log("res",res)
            let result=" <table class=\"table table-dark\">\n" +
                "        <tr>\n" +
                "            <th>번호</th>\n" +
                "            <td>"+res.data.id+"</td>\n" +
                "        </tr>\n" +
                "        <tr>\n" +
                "            <th>작성자</th>\n" +
                "            <td>"+res.data.boardWriter+"</td>\n" +
                "        </tr>\n" +
                "        <tr>\n" +
                "            <th>글 제목</th>\n" +
                "           <td>"+res.data.boardTitle+"</td>\n" +
                "        </tr>\n" +
                "        <tr>\n" +
                "            <th>글 비밀번호</th>\n" +
                "            <td>"+res.data.boardPass+"</td>\n" +
                "        </tr>\n" +
                "        <tr>\n" +
                "            <th>내용</th>\n" +
                "            <td>"+res.data.boardContents+"</td>\n" +
                "        </tr>\n" +
                "        <tr>\n" +
                "            <th>작성날짜</th>\n" +
                "           <td>"+res.data.createdAt+"</td>\n" +
                "        </tr>\n" +
                "    </table>";

                detailArea.innerHTML=result;
        }).catch(err=>{
            alert("해당 게시글이 없습니다.")
        })
    }
    const board_delete=(id)=>{
        // location.href ="/member/delete/"+id;
        axios({
            method:"delete",
            url:"/board/"+id
        }).then(res=>


        }).catch(err=>{

    })

    }
</script>
</html>