<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<div id="section">
    <table class="table table-dark">
        <tr>
            <th>번호</th>
            <td th:text="${board.id}"></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td th:text="${board.boardWriter}"></td>
        </tr>
        <tr>
            <th>글 제목</th>
            <td th:text="${board.boardTitle}"></td>
        </tr>
        <tr>
            <th>글 비밀번호</th>
            <td th:text="${board.boardPass}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td th:text="${board.boardContents}"></td>
        </tr>
        <tr>
            <th>작성날짜</th>
            <td th:text="${board.createdAt}"></td>
        </tr>
    </table>
</div>
<div th:replace="component/footer :: footer"></div>
</body>
</html>