<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="component/config :: config"></th:block>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<form action="/board/update" method="post">
  <input type="hidden" name="id" th:value="${board.id}">
  <input type="hidden" name="boardWriter" th:value="${board.boardWriter}">
  <input type="text" name="boardTitle" th:value="${board.boardTitle}">
  <input type="text" name="boardPass">
  <input type="text" name="boardContents" th:value="${board.boardContents}">
  <input type="hidden" name="boardHits" th:value="${board.boardHits}">
  <input type="button" value="글 수정" onclick="board_update()">
</form>
<a href="/">처음으로</a>
<div th:replace="component/footer :: footer"></div>
</body>
<script th:inline="javascript">
  const board_update=()=>{
    const passDB = [[${board.boardPass}]];
    const password = document.querySelector('input[name="boardPass"]').value;
    const id = document.querySelector('input[name="id"]').value;
    const writer = document.querySelector('input[name="boardWriter"]').value;
    const title = document.querySelector('input[name="boardTitle"]').value;
    const contents = document.querySelector('input[name="boardContents"]').value;
    const hits = document.querySelector('input[name="boardHits"]').value;
    if(passDB == password){
      axios({
        method:"put",
        url: "/board/"+id,
        data:{
          id:id,
          boardPass: password,
          boardWriter: writer,
          boardTitle: title,
          boardContents: contents,
          boardHits: hits
        }
      }).then(res =>{
        location.href="/board"+id;
      }).catch(err=>{
        alert("글 수정 실패")
      })
    }else{
      alert("글에 설정한 비밀번호가 일치하지 않습니다.")
    }
  }
</script>
</html>